<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel = "stylesheet" href = "stylesAlogHomePage.css">
</head>
<body>

    <div class="container">

        <div class="left">

            <button class="dropdown-btn" onclick="togglePanel()">
                <div class="menu-title">
                    <img src="Images/LogoN.png" class="logo-img" alt="MLB Logo">
                    <span class="menu-text">Faiyaj's Plan ▼</span>
                </div>
            </button>            
    
            <div id="planPanel" class="dropdown-panel">
                <span class="new">
                    <ion-icon name="add-circle"></ion-icon>
                    <span class="new-text">New Plan</span>
                </span>  
                <span class="folder">
                    <ion-icon name="folder"></ion-icon>
                    <span class="folder-text">View All Plans</span>
                </span>
                <hr class="line1">

                <p class="lab2">Current Plan</p>
                <span class="settings">
                    <ion-icon name="settings"></ion-icon>
                    <span class="settings-text">Plan Settings</span>
                </span>
                <span class="manage">
                    <ion-icon name="construct"></ion-icon>
                    <span class="manage-text">Manage Transaction</span>
                </span>
                <span class="export">
                    <ion-icon name="document"></ion-icon>
                    <span class="export-text">Export Plan</span>
                </span>
                <span class="newstart">
                    <ion-icon name="leaf"></ion-icon>
                    <span class="newstart-text">Fresh Start</span>
                </span>   
                <hr class="line2">
                <p class="lab3">Account</p>
                <span class="family">
                    <ion-icon name="people"></ion-icon>
                    <span class="family-text">Family Sharing</span>
                </span>
                
                <span class="bank">
                    <ion-icon name="card"></ion-icon>
                    <span class="bank-text">Manage Bank Connections</span>
                </span>

                <hr class="line3">
                
                <span class="logout">
                    <ion-icon name="log-out"></ion-icon>
                    <span class="logout-text">Logout</span>
                </span>

                <hr class="line4">
                <p class="lab1">Legal</p>
                <span class="privacy-policy">
                    <ion-icon name="shield-checkmark"></ion-icon>
                    <span class="privacy-policy-text">Privacy Policy</span>
                </span>
                
                <span class="privacy-choice">
                    <ion-icon name="lock-closed"></ion-icon>
                    <span class="privacy-choice-text">Privacy Choices</span>
                </span>
                           
            </div>
        </div>
    
        <div class="right">
            <h1>Welcome</h1>
        </div>
    
    </div>


    <script>
    function togglePanel() {
        const panel = document.getElementById("planPanel");
        panel.classList.toggle("open");
    }
    </script>
    
    <script src = "https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>
</html>